<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
            <li>
                <a href="/User/Home/Index">
                    <i class="icon-speedometer menu-icon"></i><span class="nav-text">Anasayfa</span>
                </a>
            </li>

            <li>
                <a href="/User/Profile/Index"><i class="icon-user"></i> <span>Profilim</span></a>
            </li>

            <li>
                <a href="/User/Consulting/Index"><i class="bi bi-chat-dots"></i> <span>Danışmanlık</span></a>
            </li>

            <li>
                <a href="/User/Contact/Index"><i class="bi bi-envelope"></i> <span>İletişim</span></a>
            </li>


            <li>
                <a href="/Logout/Index">
                    <i class="icon-key"></i> <span>Çıkış Yap</span>
                </a>
            </li>
        </ul>
    </div>
</div>